<%# if @book %>
<!--  <h1>Copies of <%#= @book.title %></h1>-->
  <%#= link_to 'New Copy', new_book_copy_path(@book), class: 'btn btn-primary' %>
<!--  <button onclick="window.history.back()" class="btn btn-secondary">Back</button>-->
<%# else %>
<!--  <h1>All Copies</h1>-->
<%# end %>

<div class = "text-center">
  <h1>Copies of <%= @book.title %></h1>
  <% if user_signed_in? and current_user.admin? %>
    <%= link_to 'New Copy', new_book_copy_path(@book), class: 'btn btn-primary' %>
  <% end %>
  <button onclick="window.history.back()" class="btn btn-secondary">Back</button>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Book ID</th>
    <% if user_signed_in? and current_user.admin? %>
      <th scope="col">Borrower ID</th>
      <th scope="col">Due Date</th>
    <% end %>
    <th scope="col">Availability</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% for copy in @copies %>
    <tr>
      <td><%= copy.id %></td>
      <td><%= copy.book_id %></td>
      <% if user_signed_in? and current_user.admin? %>
        <td><%= copy.borrower_id %></td>
        <td><%= copy.due_date %></td>
      <% end %>
      <td><%= copy.available %></td>
      <td>
        <% if user_signed_in? and current_user.admin? %>
          <%= link_to 'Edit', edit_book_copy_path(@book, copy), class: 'btn btn-primary btn-sm' %>
        <% else %>
          <%= button_to 'Borrow', borrow_book_copy_path(@book, copy), method: :patch, class: 'btn btn-primary btn-sm' %>
          <%= button_to 'Return', return_book_copy_path(@book, copy), method: :patch, class: 'btn btn-primary btn-sm' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>