<div class="mb-3 text-center">
  <h1>Update Book Form</h1>
</div>

<div id="AddBookFormHelpBlock" class="form-text mx-auto text-center">
  This form allows you to update the information for this book.
</div>

<%= form_with(model: @book, local: true) do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 mx-auto mt-3" style="max-width: 500px; margin: auto;">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control', required: true %>
    <div id="title_HelpBlock" class="form-text">
      Please provide a valid title.
    </div>

    <%= form.label :author, class: 'form-label' %>
    <%= form.text_field :author, class: 'form-control', required: true %>
    <div id="author_HelpBlock" class="form-text">
      Please provide a valid author.
    </div>

    <%= form.label :isbn, class: 'form-label' %>
    <%= form.text_field :isbn, class: 'form-control', required: true %>
    <div id="isbn_HelpBlock" class="form-text">
      Please provide a valid ISBN.
    </div>
  </div>

  <div class="actions text-center">
    <%= form.submit 'Update Book', class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="text-center mx-auto mt-2">
  <button onclick="window.history.back()" class="btn btn-secondary">Back</button>
</div>