<h1>My Books</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">ISBN</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% for book in @books %>
    <tr>
      <td><%= book.id %></td>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.isbn %></td>
      <td>
        <%= link_to 'Edit', edit_book_path(book), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Copies', book_copies_path(book), class: 'btn btn-secondary btn-sm' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

